body {
    background-color: skyblue;
    color: blueviolet;
}

h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 40px;
}
.task-list {
    text-align: center;
    font-size: 24px;
    list-style: none;
}

form  {
    text-align: center;
    margin-top: 2%;
}

form input {
    padding: 10px;
}

button {
    background-color: white;
    padding: 10px;
}